{% extends 'base.html' %}
{% load static %}
{% block title %}Forside{% endblock %}
{% block text %}
    <article>
        <h1>Velg interesser</h1>
        <br>
        <div class="centerContainer">
            <input type="text" placeholder="Søk..." class="fitContent" oninput="filtersearch(this)" style="padding: .75rem 1.25rem;" />
            <br>
            <form method="POST">
                {% csrf_token %}
                {{ form.interesser }}
                <input type="submit" />
            </form>
        </div>
    </article>
{% endblock %}
{% block script %}
<script src="/static/js/finnstudie.js" type="text/javascript"></script>
{% endblock %}
