{% load static %}
{% load studyadvisor_extras %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" {% if navbarFarge %}
     style="background-color: {{ navbarFarge }} !important;" {% endif %}>
    <div class="container" id="nav-container">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-size: 25px">FinnUtdanning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!--<a class="nav-link" href="{% url 'about' %}" style="margin-right: 5px;">Om FinnUtdanning</a>--->
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tidligere_sok' %}" style="margin-right: 5px;">Tidligere
                            søk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chats' %}" style="margin-right: 5px;">Meldingsboks</a>
                    </li>
                {% endif %}
                {% if request.user|has_group:"veileder" or user.is_staff %}
                    <li class="nav-item dropdown" style="margin-right: 5px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span style="padding-right: .5em">Veileder</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" style="font-size: 14px">
                            <a class="dropdown-item" href="{% url 'nyInteresse' %}">Ny interesse</a>
                            <a class="dropdown-item" href="{% url 'nyttStudie' %}">Ny studieretning</a>
                            <a class="dropdown-item" href="{% url 'endre' %}">Endre eksisterende</a>
                            <a class="dropdown-item" href="{% url 'personligFargetema' %}">Personlig fargetema</a>
                            <a class="dropdown-item" href="{% url 'advisorChats' %}">Veilederinnboks</a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="nav-item dropdown" style="margin-right: 5px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span style="padding-right: .5em">Admin</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" style="font-size: 14px">
                            <a class="dropdown-item" href="{% url 'globaltFargetema' %}" style="margin-right: 5px;">Globalt fargetema</a>
                            <a class="dropdown-item" href="{% url 'adminChats' %}">Admininnboks</a>
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Administrering</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback' %}" style="margin-right: 5px;">Send Tilbakemelding</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item dropdown">
                    {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span style="padding-right: .5em">{% firstof user.username %}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size: 14px">
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Administrering</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'logout' %}">Logg ut</a>
                        </div>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Logg inn</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
{% endblock %}