{% extends 'base.html' %}
{% load static %}
{% block title %}Forside{% endblock %}
{% block text %}
    <article>
        <h1>Ny interesse</h1>
        <br>
        <div class="centerContainer">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                        {{ form.navn.label_tag }}
                        {{ form.navn }}
                        </div>
                        <br>
                        <a class="btn btn-default" href="{% url 'endre' %}" role="button">Tilbake</a>
                        <input class="btn btn-default" type="submit" value="Opprett" />
                    </form>
        </div>
    </article>
{% endblock %}
{% block script %}
{% endblock %}
